/*give the body height:100% so that its child elements can have percentage heights*/
body{ 
  height:100%;
  padding: 0px;
  margin: 0px;
}

#tijden {
 padding: 1em;
 font-family: verdana, tahoma, sans-serif;
 background-color: #fff;
}

#tijden div {
  font-size: smaller;
}

#tijden h1 {
  font-size: large;
}

#tijden h1 a {
  text-decoration: none;
  color: #000;
}

#tijden h1 a:hover {
  text-decoration: underline;
}
